@import "tailwindcss";

body{
  outline:none;
}
.scrollbar-hide::-webkit-scrollbar{
    display: none;
}

.scrollbar-hide{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.recharts-wrapper svg {
  outline: none !important;
  border: none !important;
} 
@layer base {
  .recharts-wrapper svg {
    outline: none !important;
    border: none !important;
  }
}
