@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar{
    display: none;
}

.scrollbar-hide{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.recharts-wrapper svg {
  outline: none !important;
  border: none !important;
} 
@layer base {
  .recharts-wrapper svg {
    outline: none !important;
    border: none !important;
  }
}
.recharts-wrapper *:focus {
  outline: none !important;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #22c55e;
  border-radius: 9999px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #8cb099 transparent;
}
